@import url("https://fonts.googleapis.com/css2?family=Kdam+Thmor+Pro&family=Oswald&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@800&family=Poppins:ital,wght@1,200&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600&display=swap");
* {

  margin: 0;
  padding: 0;

  list-style: none;
  text-decoration: none;
}

body {
  background-color: #574874;

}
section {
  width: 100%;
  height: 70px;
  display: flex;
  
  justify-content: space-around;
  align-items: center;
  background-color: #574874;
  border-bottom: 1px solid black;
  background-color: rgb(255, 255, 255);
  
}
.section-img{
  position: absolute;
 right: 75%;
 
  
}
.section-li{
  color: #7D2AE8; 
  font-size: 19px;
  font-family: sans-serif; 
  list-style: none;
  transition: 0.5s;
  cursor: pointer;
}

nav {
  width: 60%;
}

ul {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
li:hover {
  color: black;
}
.home-img{
  position: absolute;
  bottom: 10%;
  left: 45%;
  
}



:root {
    --color-neutral-0: #0e0c0c;
    --color-neutral-10: #171717;
    --color-neutral-30: #a8a29e;
    --color-neutral-40: #f5f5f5;
  }
  main {
      height: 80vh;
  }
  
  
  footer {
    width: 100%;
    color: var(--color-neutral-40);
  }
  
  .footer-link {
    text-decoration: none;
  }
  
  #footer_content {
    margin-top: 30px;
    background-color: var(--color-neutral-10);
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding: 3rem 3.5rem;
  }
  
  #footer_contacts h1 {
    margin-bottom: 0.75rem;
  }
  
  #footer_social_media .footer-link {
    display: inline; /*deixar os simbolos uma ao lado do outro*/
    align-items: center;
    justify-content: center;
    height: 2.5rem;
    width: 2.5rem;
    color: var(--color-neutral-40);
    border-radius: 50%;
    transition: all 0.4s;
  }
  
  #footer_social_media .footer-link i {
    font-size: 1.9rem;
  }
  
  #footer_social_media .footer-link:hover {
    opacity: 0.8;
  }
  .logo-rodape {
    position: absolute;
    width: 110px;
    left: 85%;
    display: flex;
  }
  .footer-li{ /*deixar os nomes no lugar*/
    position: absolute;
   bottom: -15%;
  }
  .footer-list {
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
    list-style: none;
  }
  
  .footer-list .footer-link {
    color: var(--color-neutral-30);
    transition: all 0.4s;
  }
  
  .footer-list .footer-link:hover {
    color: #7f37c9;
  }
  
  #footer_copyright {
    display: flex;
    justify-content: center;
    background-color: var(--color-neutral-0);
    font-size: 0.9rem;
    padding: 1.5rem;
    font-weight: 100;
  }
  
  @media screen and (max-width: 768px) {
    #footer_content {
      grid-template-columns: repeat(2, 1fr);
      gap: 2rem;
    }
  }
  
  @media screen and (max-width: 426px) {
    #footer_content {
      grid-template-columns: repeat(1, 1fr);
      padding: 3rem 2rem;
    }
  }
  
  